.wrapper
  .grid_8.top
    .grid_6.first
      .grid_3.first
        %h3.background_gray_clear.royal_blue
          = @servidor.hostname
          .float_right
            %a.action-button{:href => edit_resource_path(@servidor.id)}
              %span.pencil
        %table.full.not-style
          %tbody
            %tr
              %td.al
                = Servidor.human_attribute_name(:hostname)
              %td.ar
                = @servidor.hostname
            %tr
              %td.al
                = Servidor.human_attribute_name(:ip)
              %td.ar.gray
                = @servidor.ip
            %tr
              %td.al
                = Servidor.human_attribute_name(:puerto)
              %td.ar
                = @servidor.puerto
            %tr
              %td.al
                = Servidor.human_attribute_name(:usuario)
              %td.ar
                = @servidor.usuario
            %tr
              %td.al
                = Servidor.human_attribute_name(:password)
              %td.ar
                = @servidor.password
   
    .grid_2
      .panel.padding3.al
        %a.button.background_blue.white{:href => net_validations_index_path(:id => @servidor.id, :ip => @servidor.ip)}
          = "Prueba TCP Ping"
    .grid_2
      .panel.padding3.al
        %a.button.background_red.white{:href => servidores_delete_path(:id => @servidor.id),:confirm=>'Are you sure?'}
          = "Eliminar Servidor"
        %a.button.background_gray.white{:href => servidores_list_path(:id => @servidor.id, :ip => @servidor.ip)}
          = "Servidores"

    .grid_2
      .panel.padding3.al
        %a.button.background_green.white{:href => databases_new_path(:id => @servidor.id)}
          = "Nueva Base de Datos"  

    .grid_8
      .grid_6.first
        %h3.background_gray_clear.royal_blue
          = "Bases de datos"
        .grid_6.first
          = render :partial => '/partials/db_list_in_show', :locals => {:links => ["show","edit","delete"],:objects => @dbs, :fild_names=> [:nombre, :sid, :cadena, :puerto_db]}

  .clear
  
  