#dashbord
  .background_red.padding2{:style => "width:100%; height:110px;"}
    %img.pointer{:src => "/images/icons/dbicon2.png", :onclick => "closeDashbord(this);", :width => "40px", :style=>"margin:10px 0 0 10px;"}
      %h2.white
        = "Share Up"
  
  .content.background_white
    .padding2
      %table.style.full
        %tbody
          %tr
            %td.clearfix
              %h4
                %a.action-button.not_decoration{:href => servidores_list_path}
                  %span.home
                %a.not_decoration.gray.bold.float_right{:href => servidores_list_path, :style => "margin:2px 0 0 5px;"}
                  = t :home
          %tr
            %td.clearfix
              %h4
                %a.action-button.not_decoration{:href => servidores_list_path}
                  %span
                %a.not_decoration.gray.bold.float_right{:href => servidores_list_path, :style => "margin:2px 0 0 5px;"}
                  = t :servidores
          %tr
            %td.clearfix
              %h4
                %a.action-button.not_decoration{:href => servidores_list_path}
                  %span
                %a.not_decoration.gray.bold.float_right{:href => servidores_list_path, :style => "margin:2px 0 0 5px;"}
                  = t :portales
          %tr
            %td.clearfix
              %h4
                %a.action-button.not_decoration{:href => servidores_list_path}
                  %span
                %a.not_decoration.gray.bold.float_right{:href => servidores_list_path, :style => "margin:2px 0 0 5px;"}
                  = t :aplicaciones
          %tr
            %td.clearfix
              %h4
                %a.action-button.not_decoration{:href => servidores_list_path}
                  %span.config
                %a.not_decoration.gray.bold.float_right{:href => servidores_list_path, :style => "margin:2px 0 0 5px;"}
                  = t :configuration


          
